@font-face {
    font-family: 'Karla';
    src: url('../fonts/Karla-Regular.ttf');
}

@font-face {
    font-family: 'Karla Italic';
    src: url('../fonts/Karla-Italic.ttf');
}

@font-face {
    font-family: 'Karla Bold';
    src: url('../fonts/Karla-Bold.ttf');
}

@font-face {
    font-family: 'Karla Bold Italic';
    src: url('../fonts/Karla-BoldItalic.ttf');
}

body {
    font-family: 'Karla', sans-serif;
}